<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Layout | CodingLab</title> 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Service Center</a>
      </div>
      <ul>
        <li><a routerLink="/main">Home</a></li>
        <li><a routerLink="/services">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/admin">Admin</a>
            <a class="dropdown-item" routerLink="/userlogin">User Login</a>
            <a class="dropdown-item" routerLink="/usersignin">User Signin</a>
            
          </div>
        <li><a routerLink="/installation">Complaint</a></li>

        <li><a routerLink = "/payment">Contact</a></li>
        
      </ul>
    </div>
  </nav>
  
</body>
</html>