<html>
  <head>
    <title> registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
   
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-wrench"></i>
        <h1>Register to our service center</h1>
        <p>we provides services like cleaning, reparing and installation</p>
        
      </div>
      <form (ngSubmit)="onSubmit()">
        
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Register here</h2>
        </div>
        <div class="info">
          <input class="fname" type="text" name="name" placeholder=" First Name"
          required [(ngModel)]="usersignin.firstname">
          <input type="text" name="name" placeholder="last Name"
          required [(ngModel)]="usersignin.lastname">
          <input type="text" name="name" placeholder="Username"
          required [(ngModel)]="usersignin.username">
          <input type="password" name="name" placeholder="Password"
          required [(ngModel)]="usersignin.password">
          
        <button type="submit" href="/">Submit</button>
    </div>
  </form>
