html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin-top: 2%;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    h1 {
    margin: 15px 0;
    font-weight: 400;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
    }
    form {
    width: 50%;
    padding: 20px;
    background: #d7d4d1;
    box-shadow: 0 2px 5px #fbfbfb; 
    }
    input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #f5ebeb;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    select {
    width: 100%;
    padding: 7px 0;
    background:rgb(247, 241, 241);
    }
    textarea {
    width: calc(100% - 6px);
}
    .item {
    position: relative;
    margin: 10px 0;
    }
    .item:hover p, .item:hover i {
    color: #095484;
    }
    input:hover, select:hover, textarea:hover {
    box-shadow: 0 0 5px 0 #095484;
    }
    .btn-block {
    margin-top: 20px;
    text-align: center;
    }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #ec6015;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background-color: #0666a3;
    }
    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }
    }